<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346190268273-tnflkcq03v4vot6d3e9bodruoj1ko82j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346190268273-tnflkcq03v4vot6d3e9bodruoj1ko82j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>346190268273-ta5o3scjoh8cpebfnf9pgsacq3itpun1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcZKjLeNB5cNSvs2pM6diwcVZgYyzi3CI</string>
	<key>GCM_SENDER_ID</key>
	<string>346190268273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tubesMobile.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-e6555</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-e6555.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346190268273:ios:33d7d8fdbf1c23ae2598d0</string>
</dict>
</plist>